.hero__title {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero__btn {
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 4px;
  min-width: 216px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
  background-color: var(--banner-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/banner.jpg);
}