.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--banner-background-color);
}

.page-footer--flex-container {
  display: flex;
}

.foot-adress-container {
  margin-right: 70px;
}