.clients {
  display: flex;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  @include inline-flex-al-jf();
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: var(--background-icon-color);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}
